<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <style>
        h1 {
            border-style: solid;
            border-color: #92a8d1;
        }
        
        div {
            border-style: solid;
            border-color: #92a8d1;
        }
    </style>
</head>

<body>
    <h1>May Node and Express be with you.</h1>

    <form action="/data" method="GET">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="quote" name="quote" />
        <button type="submit">Submit</button>
    </form>
    <div>
        <ul class="quotes">
            <!-- Loop through quotes -->
            <% for(var i = 0; i < quotes.length; i++) {%>
                <li class="quote">
                    <!-- Output name from the iterated quote object -->
                    <span><%= quotes[i].nazwa %></span>:
                    <!-- Output quote from the iterated quote object -->
                    <span><%= quotes[i].ilosc %></span>
                    <span><%= quotes[i].cena_pojedynczej_sztuki %></span>
                </li>
                <% } %>
        </ul>
    </div>
</body>

</html>