<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
    <a class="navbar-brand " href="/ ">Spa</a>
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
            <a class="nav-link " href="/data ">Terminarz</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/clients ">Klienci</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/courses">Kursy</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/seances">Seanse</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/employees ">Pracownicy</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/items ">Magazyn</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/prices ">Możliwe ceny produktów</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/rooms">Pomieszczenia</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/salaries">Wynagrodzenia</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/ ">O nas</a>
        </li>
    </ul>
</nav>