<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
    <a class="navbar-brand " href="/ ">Spa</a>
    <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
            <a class="nav-link " href="/ ">Klienci</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/ ">Kursy</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/ ">Seanse</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/ ">Pracownicy</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/items ">Magazyn</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/prices ">Możliwe ceny produktów</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link " href="/ ">O nas</a>
        </li>
    </ul>
</nav>